<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-kunder-root-detection" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-kunder-root-detection</name>
    <author>-</author>
    <description>-</description>
    <keywords>cordova</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version="&gt;=3.0.0"/>
    </engines>
    <js-module name="RootDetection" src="www/rootdetection.js">
        <clobbers target="rootdetection"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RD">
                <param name="android-package" value="cl.kunder.plugin.RD"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/RD.java" target-dir="src/cl/kunder/rd"/>
    </platform>
</plugin>